{% extends "templates/base.html" %}
{% block content %}

<h2><span style="color: #f08c89">Location and Flights for UK Guests</span></color> </h2>
    <p>
        The venue is located in Broad Brook, Connecticut.  The closest
        airport is Bradley International in Hartford, CT.  There are
        direct flights from London, Heathrow to JFk New York, Newark
        International or Logan International in Boston, where you
        would then get a connecting flight to Hartford.
    </p>
        <p>
            <a href="http://www.expedia.co.uk/Flights-Search?trip=roundtrip&leg1=from:LHR,to:HFD,departure:24/10/2014TANYT&leg2=from:HFD,to:LHR,departure:31/10/2014TANYT&passengers=children:0,adults:1,seniors:0,infantinlap:Y&options=cabinclass:coach&mode=search&/" target="blank">Flights to Hartford.</a><br>
            <a href="http://www.expedia.co.uk/Flight-Search-All?action=FlightSearchAll%40searchFlights&origref=www.expedia.co.uk%2FFlight-Search-All&inpFlightRouteType=2&inpDepartureLocations=London%2C+England%2C+UK+%28LHR-Heathrow%29&inpArrivalLocations=Newark%2C+NJ%2C+United+States+%28EWR-Liberty+Intl.%29&inpDepartureDates=24%2F10%2F2014&inpArrivalDates=31%2F10%2F2014&inpAdultCounts=1&inpChildCounts=0&inpChildAges=-1&inpChildAges=-1&inpChildAges=-1&inpChildAges=-1&inpChildAges=-1&inpInfants=2&inpFlightAirlinePreference=&inpFlightClass=3/" target="blank">Flights to Newark.</a>
        </p>
        <p>
            Alternatively, there are direct flight to New York, Newark
            or Boston and cars available to hire at all airports.  The
            drive to Connecticut from any of these airports will take
            approximately 2 hours.
        </p>
        <center>
          <table>
            <tr>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g60763-Activities-New_York_City_New_York.html/" target="blank"><h2>New York    </h2>           </a></td>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g60745-Activities-Boston_Massachusetts.html/"   target="blank"><h2>Boston      </h2>           </a></td>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g28928-Activities-Connecticut.html/"            target="blank"><h2>Connecticut </h2>           </a></td>
            </tr>
            <tr>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g60763-Activities-New_York_City_New_York.html/" target="blank"><img src="images/new_york.jpg"> </a></td>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g60745-Activities-Boston_Massachusetts.html/"   target="blank"><img src="images/boston.jpg">   </a></td>
              <td style="text-align: center"><a href="http://www.tripadvisor.com/Attractions-g28928-Activities-Connecticut.html/"            target="blank"><img src="images/ct.jpg">       </a></td>
            </tr>
          </table>
          <center>

{% endblock %}

 
 
 
