{% extends "templates/base.html" %}
{% block content %}

<h2><span style="color: #f08c89">Dress Code</span></color></h2>
        <p>
             <img src="images/hat.jpg" align=left> Suit and tie. Cocktail dresses.
        </P>
       
        <p>
            The ceremony is intended to be held outside and the reception will follow inside. 
        </p> 
         
     
        <h2><span style="color: #f08c89">Chldren</span></color></h2>
        <p>
        We realise many of you have little ones, unfortunately however, we are unable to accomodate children at the Ceremony and Reception other than those who are in the bridal party. 
        </p>



{% endblock %}x