{% extends "templates/base.html" %}
{% block content %}
    <h2><span style="color: #f08c89">The Proposal</span></h2>
       
       <p>
        It all started with an eggplant (or aubergine for UK translation). 
        The first time we met, Joe approached me in a London bar and gave me an eggplant. Following my initial confusion with his chat-up line and getting over the fact that he was American, we got chatting, drinking and dancing... 
        </p>  
            <center>
            <img src="images/big_ben.jpg">   <img src="images/amsterdam.jpg"> <img src="images/bday.jpg"> <img src="images/ralph_with_car1.jpg" ><img src="images/petsticker.jpg">  <img src="images/rocky.jpg">   <img src="images/love.jpg"> <img src="images/rufus.jpg">  <img src="images/Reception.jpg"> 
            </center>

        <p>
            A year and a half later and after plenty of partying, adventures in Europe and trips back and forth to America, we decided that we kind of liked each other and Joe proposed on 17 May 2013. 
            A beautiful diamond ring was produced from a remote control car, on bended knee. 
            It was perfect and very Joe.  
            A few weeks later Joe was offered a job in Philadelphia, so we packed up our belongings and Ralph the cat and moved to the USA on 24 July 2013. 
        </p>
        

{% endblock %}
