{% extends "templates/base.html" %}
{% block content %}
<script src="js/pro.js"></script>

    <h2><span style="color: #f08c89">The Proposal</span></h2>
       
       <p>
        It all started with an eggplant (or aubergine for UK translation). 
        The first time we met, Joe approached me in a London bar and gave me an eggplant. Following my initial confusion with his chat-up line and getting over the fact that he was American, we got chatting, drinking and dancing... 
        </p>  
            <center>
              <p>
<script type="text/javascript" src="http://www.linkbuildingservices4sites.com/resources/slide-show.js"></script>   
<div id="imageslideshow1"></div> 

<script type="text/javascript">  
  var mygallery=new fadeSlideShow({   
  wrapperid: "imageslideshow1", //ID of blank DIV on page to house Slideshow   
  dimensions: [400, 276], //width/height of gallery in pixels. Should reflect dimensions of largest image (www.2createawebsites.com)
  imagearray:  [     
  ["/images/s1.jpg"], 
  ["/images/s2.jpg"], 
  ["/images/s4.jpg"],
  ["/images/s7.jpg"],
  ],
  displaymode: {type:'auto', pause:1000, cycles:0, wraparound:false},   
  persist: false, //remember last viewed slide and recall within same session?   
  fadeduration: 2000, //transition duration (milliseconds)  
  descreveal: "ondemand",
  togglerid: ""
  })
</script>  
              </p>
              
            </center>

<p>
  A year and a half later and after plenty of partying, adventures in
  Europe and trips back and forth to America, we decided that we kind
  of liked each other and Joe proposed on 17 May 2013.
  A beautiful diamond ring was produced from a remote
  control car, on bended knee.
  It was perfect and very Joe.  
  A few weeks later Joe was offered a job in Philadelphia,
  so we packed up our belongings and Ralph the cat and moved
  to the USA on 24 July 2013.
        </p>
        

{% endblock %}
