{% extends "templates/base.html" %}
{% block content %}
    <h2><span style="color: #f08c89">The Proposal</span></h2>
       
       <p>
        It all started with an eggplant (or aubergine for UK translation). 
        The first time we met, Joe gave me this vegetable in a London bar, following my initial confusion with his chat-up line and getting over the fact that he was American, we got chatting, drinking and dancing... 
        </p>  
            <center>
                <img src="images/ralph_with_car1.jpg" >  
            </center>

        <p>
            A year later and after much partying, adventures in Europe and deciding that we kind of liked each other, a proposal came. 
            A ring was produced from a remote control car, on bended knee. 
            It was beautiful, perfect and very Joe.  I am a very lucky lady.
        </p>
    <center>
    <img src="images/romantic-proposal.jpg">
    </center>
        

{% endblock %}
