{% extends "templates/base.html" %}
{% block content %}
        <h2><span style="color: #f08c89">Kindly respond by the 21st of August</span></color></h2>
        <article >
            <header>
                <h2>RSVP Password (as shown on your invitation):</h2> 
                <p>
                <form action="/rsvp" method="POST">
                    <input id="word"   name="word"   placeholder="Password" type="text" />
                    <input type="submit" value="login" />
                </form>
                </p>
            </header>
        </article>
	

{% endblock %}
