{% extends "templates/base.html" %}
{% block content %}
        <h2><span style="color: #f08c89">Kindly respond by the 21st of August</span></color></h2>
        <article >
            <header>
                <h2>RSVP Password (as shown on your invitation):</h2> 
                <p>
                <form action="/rsvp" method="POST">
                    <input id="word"   name="word"   placeholder="Password" type="text" />
                    <input type="submit" value="login" />
                </form>
                </p>
            </header>
        </article>
	
         <h2><span style="color: #f08c89">Please indicate each guest's entree choice</span></color></h2>
         <ul>
         	<li>Herb Stuffed Chicken Breast</li>
         	<li>Pan Seared Samoln with Terriyaki Ginger Glaze</li> 
         	<li>Grilled Top Sirloin Steak</li>
         	<li>Vegetarian</li>
         	<li>Please advise of any dietary requirements.</li>
         </ul>

{% endblock %}
