{% extends "templates/base.html" %}
{% block content %}
        </p><h2><span style="color: #f08c89">Ceremony and Reception</span></color></h2><img src="images/bouquet-and-book.jpg">
        <p>
        Both the ceremony and the recepion are being held at the <a href="http://www.merlotonthewater.com/" target="blank">
        The Merlot on the Water</a>.  The ceremony will start at 5 o'clock and then we will move inside for the reception which will finish at 10pm.
        Those of you who want to continue the party with us are welcome to join us at 
        </p>
        <p>
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=the+merlot+on+the+water,+Broad+Brook,+CT&amp;aq=&amp;sll=40.121135,-74.886548&amp;sspn=0.098056,0.181789&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;iwloc=A&amp;ll=41.917494,-72.543173&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=the+merlot+on+the+water,+Broad+Brook,+CT&amp;aq=&amp;sll=40.121135,-74.886548&amp;sspn=0.098056,0.181789&amp;ie=UTF8&amp;hq=&amp;hnear=&amp;t=m&amp;iwloc=A&amp;ll=41.917494,-72.543173&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
        </p>
 
         
{% endblock %}
