{% extends "templates/base.html" %}
{% block content %}
        <h2><span style="color: #f08c89">Lucy's Bridesmaids</span></color></h2> <img src="images/bridesmaids.jpg">
        	<ul>
        		<li>Katy Daniels</li>
        		<li>Rosy Daniels</li>
        		<li>Meenaa Azmayesh</li> 
        		<li>Heather Rochette</li>
        	</ul>

        <h2>Joe's Groomsmen</h2> 
        	<ul>
        		<li>Tim Rochette - Best Man</li>
        		<li>Matt Noto </li>
        		<li>Mike Howarth</li> 
        		<li>Chritian Weisspfennig</li>
        	</ul>
            
{% endblock %}
