{% extends "templates/base.html" %}
{% block content %}

	<h2><span style="color: #f08c89">Mother of the Bride</span></color></h2>
		<p>Joyce Daniels</p>

	<h2><span style="color: #f08c89">Lucy's Bridesmaids</span></color></h2>
		<p>
			<ul>
				<li>Katy Daniels</li>
				<li>Rosy Daniels</li>
				<li>Tracey Murrant</li>
				<li>Meenaa Azmayesh</li>
				<li>Heather Rochette</li>>
			</ul>

	<h2><span style="color: #f08c89">Flower Girl</span></color></h2>
		<p>Delia Rochette</p>

        
    <h2><span style="color: #f08c89">Groom's Parents</span></color></h2>
	<p>Fran and Maureen Rochette</p>

	<h2><span style="color: #f08c89">Best Man</span></color></h2>
	<p>Tim Rochette</p>
            
    <h2><span style="color: #f08c89">Joe's Groomsmen</span></color></h2>
	<p>
		<ul>
			<li>Mike Howarth</li>
			<li>Matt Noto</li>
			<li>Christian Weisspfennig</li>
		</ul>    
	</p>    
{% endblock %}
